<?xml version="1.0"?>

<launch>
	
	<arg name="agent" default="gokart"/>
	<arg name="rviz_file" default="$(find test_pkg3)/rviz/test.rviz"/>
	
	<param name="/use_sim_time" value="true"/>

	<param name="robot_description" command="$(find xacro)/xacro $(find hamster_vehicle_description)/urdf/hamster.urdf.xacro"/>
			
	<node name="test_odom_path" pkg="test_pkg2" type="odom_path_node">
		<param name="path_topic_name" 		value="/path/raw" />
		<param name="odom_topic_name" 		value="/agent1/odom/raw" />
		<param name="max_size" 		value="500" />
	</node>

	<node name="test_odom_path2" pkg="test_pkg2" type="odom_path_node">
		<param name="path_topic_name" 		value="/path/ground_truth" />
		<param name="odom_topic_name" 		value="/agent1/odom/ground_truth" />
		<param name="max_size" 		value="500" />
	</node>
	

	<node name="test_scan_hazi" pkg="hazi" type="test_scan_hazi" output="screen"/>
	

  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos" default="-2.0"/>
  <arg name="y_pos" default="-0.5"/>
  <arg name="z_pos" default="0.0"/>

    

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_world.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf"  args="-urdf -model turtlebot3_$(arg model) -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />


</launch>